@keyframes moveToLeft {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translatey(60px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    transform: translatey(-60px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: black;
  color: black;
}

/* ---LANDING SECTION--- */

/* Navbar */
.navbar-expand-lg {
  background-color: black;
}

.navbar-light .navbar-brand {
  background-image: url('');
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
} 


#title-top {
  animation-name: moveToRight;
  animation-duration: 1.5s;
}

#title-bottom {
  animation-name: moveToLeft;
  animation-duration: 1.5s;
}

/* /Navbar */

#landing {
  width: 100%;
  height: 100vh;
  background-image: url('../img/landing.jpg');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

#lb-top {
  animation-name: moveDown;
  animation-duration: 1.5s;
}

#lb-bottom .col {
  opacity: 0;
  animation: moveUp 1.5s ease-in-out 0s forwards;
}
#lb-bottom .lbSecond {
  animation-delay: .3s;
}
#lb-bottom .lbThird {
  animation-delay: .6s;
}
#lb-bottom .lbFourth {
  animation-delay: .9s;
} /* ---/LANDING SECTION--- */


/*  --- VideoStats SECTION--- */

.video-stats-top iframe {
  pointer-events: none;
}

#stats-table {
  max-width: 600px;
  background-color: black;
} /*  VideoStats Section */


/* ---Showcase Section--- */
.showcase {
  /* border: 2px solid blue; */
  position: relative;
}

.showcase-img {
/* border: 2px solid green; */
width: 1200px;
/* animation-name: moveUp;
animation-duration: 1.5s; */
}

.showcase-description {
  width: 1000px;
  position: absolute;
  top: 550px;
} /* ---/Showcase Section--- */


/* Scroll Slide Gallery Section*/
.leftTriangle {
  position: relative;
}

.leftTriangle::before,
.leftTriangle::after {
  content: '';
  width: 75px;
  height: 75px;
  background: #f7f7f7;
  position: absolute;
  left: 0;
  z-index: 1;
}

.leftTriangle::before {
  bottom: 50%;
  transform: skew(-35deg);
}

.leftTriangle::after {
  top: 50%;
  transform: skew(35deg);
}

.rightTriangle {
  position: relative;
}

.rightTriangle::before,
.rightTriangle::after {
  content: '';
  width: 75px;
  height: 75px;
  background: #f7f7f7;
  position: absolute;
  right: 0;
  z-index: 1;
}

.rightTriangle::before {
  bottom: 50%;
  transform: skew(-145deg);
}

.rightTriangle::after {
  top: 50%;
  transform: skew(145deg);
}

.z2 {
  z-index: 2;
}

#closingImg {
  width: 100%;
  height: 100vh;
  background-image: url('../img/closing.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

