@keyframes moveToLeft {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translatey(60px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    transform: translatey(-60px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
  opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}


.hidden {
  visibility: hidden;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: black;
  color: black;
}

/* ---LANDING SECTION--- */

/* Navbar */
.navbar-expand-lg {
  background-color: black;
}

.logo {
  width: 31px;
  height: 28px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
} 

#title-top {
  animation-name: moveToRight;
  animation-duration: 1.5s;
}

#title-bottom {
  animation-name: moveToLeft;
  animation-duration: 1.5s;
}

/* /Navbar */

#landing {
  width: 100%;
  height: 100vh;
  background-image: url('../img/landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

#lb-top {
  animation-name: moveDown;
  animation-duration: 1.5s;
}

#lb-bottom .col {
  opacity: 0;
  animation: moveUp 1.5s ease-in-out 0s forwards;
}
#lb-bottom .lbSecond {
  animation-delay: .3s;
}
#lb-bottom .lbThird {
  animation-delay: .6s;
}
#lb-bottom .lbFourth {
  animation-delay: .9s;
} /* ---/LANDING SECTION--- */


/*  --- VideoStats SECTION--- */

#stats-table {
  max-width: 600px;
  background-color: black;
} /*  --- /VideoStats Section--- */


/* ---Showcase Section--- */
.showcase {
  position: relative;
}

.showcase-img {
width: 1200px;
}

.showcase-description {
  width: 1000px;
  position: absolute;
  top: 550px;
} /* ---/Showcase Section--- */


/* ---Scroll Slide Gallery Section--- */
.slide{
  /* border: 1px solid cyan; */
  height: 350px;
}

.imgFit {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Triangle Pseudo Element */

.leftTriangle {
  position: relative;
}

.leftTriangle::before,
.leftTriangle::after {
  content: '';
  width: 75px;
  height: 75px;
  background: #f7f7f7;
  position: absolute;
  left: 0;
  z-index: 1;
}

.leftTriangle::before {
  bottom: 50%;
  transform: skew(-35deg);
}

.leftTriangle::after {
  top: 50%;
  transform: skew(35deg);
}

.rightTriangle {
  position: relative;
}

.rightTriangle::before,
.rightTriangle::after {
  content: '';
  width: 75px;
  height: 75px;
  background: #f7f7f7;
  position: absolute;
  right: 0;
  z-index: 1;
}

.rightTriangle::before {
  bottom: 50%;
  transform: skew(-145deg);
}

.rightTriangle::after {
  top: 50%;
  transform: skew(145deg);
}

.slide-description {
  z-index: 2;
}

/* Left Diagonal Bracket */ 
.topLeftB {
  position: relative;
}

.topLeftB::after {
  content: '';
  background: red;
  width: 30px;
  height: 30px;
  clip-path: polygon(65% 0%, 65% 10%, 10% 10%, 10% 65%, 0 65%, 0 0);
  position: absolute;
  left: 0%;
  top: 0%;
}

.botRightB {
  position: relative;
}

.botRightB::after {
  content: '';
  background: red;
  width: 30px;
  height: 30px;
  clip-path: polygon(35% 100%, 35% 90%, 90% 90%, 90% 35%, 100% 35%, 100% 100%);
  position: absolute;
  right: 0%;
  bottom: 0%;
}

/* Right Diagonal Bracket */

.topRightB {
  position: relative;
}

.topRightB::after {
  content: '';
  background: red;
  width: 30px;
  height: 30px;
  clip-path: polygon(35% 0, 100% 0, 100% 65%, 90% 65%, 90% 10%, 35% 10%);
  position: absolute;
  right: 0%;
  top: 0%;
}

.botLeftB {
  position: relative;
}

.botLeftB::after {
  content: '';
  background: red;
  width: 30px;
  height: 30px;
  clip-path: polygon(10% 35%, 10% 90%, 65% 90%, 65% 100%, 0 100%, 0 35%);  
  position: absolute;
  left: 0%;
  bottom: 0%;
} /* /Scroll Slide Gallery Section*/


/* ---Closing Section--- */ 
.closing {
  margin: 200px 0 50px 0;
}

#closingImg {
  width: 100%;
  height: 80vh;
  background-image: url('../img/closing.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  position: relative;
}

#closingImg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0px 0px 75px 50px #000;
}

.appear span:nth-child(1) {
  animation: appear 3s;
}

.appear span:nth-child(2) {
  animation: appear 4s;
}

.appear span:nth-child(3) {
  animation: appear 5s;
}

.appear span:nth-child(4) {
  animation: appear 6s;
}

.vline {
  width: 1px;
  height: 75px;
}

.closingBottom {
  width: 140px;
  margin: 0 auto;
} /* ---Closing Section--- */ 


/* ---Footer--- */
.v-divider {
  margin: 0 10px;
  width: 1px;
  border-left: 1px solid grey;
}

.footer-copyright p {
  font-size: 14px;
}

.px {
  margin: 0;
}
.pd {
  padding: 0;
}